
header{

	background-color:#C0C0C0;
	border: solid 1px black;
	height: 50px;
}

div.logo, div.desc {


border: solid 1px gray;
display: inline;

}
.desc{

	margin: 0px 0px 100px 0px; 
}



ul, li{
	
	font-weight: bold;
	border:solid 1px gray;
	border-radius: 5px;
	display: inline;
	padding: 7px;
	margin:10px;
	background-color: white;
}
li{
	border:double; 
	border-radius:60px;
	font-family:sans-serif ;

}	
a{
	text-decoration: none;
}

li:hover{
	font-style: italic;

	background-color: #0FB5BD;
}


.box {
	
	
	background-color: skyblue;
	width: 100%;
	height: 450px;
	border:solid 1px black;
}
.desc{

	text-align: center;
}

div.image, div.des{


	margin:0px 50px 50px 10px;
	display: inline;
	float:left;
	border-radius: 20px;
}

.image {

	background-color:white;
	width: 200px;
	height: 200px;
	border:solid 1px black;


}

.index_image{

	
	width: 600px;
	height: 400px;
	border:solid 1px  gray;

}


.des{
	background-color:;
	width: 200px;
	height: 200px;
	border:;


}
.search {

	float:right;
}

img{

	height: 50px;
	width:100px;
}

div.logo1{

margin: 2% 27% 0% 27%;	

}
footer{
margin: 2% 44% 0% 44%;	


}

table{
	border-radius: 10px;
	margin-top: -100px;
	background-color: #0FB5BD;
	border: solid 1px gray;
	padding: 50px
}